.customCard {
    width: calc(100% - 20px);
    /* margin-right: 20px; */
    /* margin-bottom: 20px; */
}

.custom-arrow {
    background-color: rgba(218, 114, 241, 0.682);
}

.custom-next-arrow {
    position: absolute;
    right: -10px;
}

@media (max-width: 768px) {
    .customCard {
        width: calc(100% - 10px);
    }
}

@media (max-width: 480px) {
    .customCard {
        width: calc(100% - 5px);
    }
}